.memeone_canvas_displayed {
	position: inherit;
	display: block;
}

#memeone_background_picture {
	width: inherit !important;
}

#memeone_canvas {
	position: absolute;
	max-height: 600px;
	max-width: 600px;
	display: none;
}

.memeone_background {
	max-width: 250px !important;
	vertical-align: top !important;
	padding: 15px !important;
	box-shadow: none !important;
	background-color: inherit !important;
	border: none !important;
	border-radius: inherit !important;
}

.memeone_hidden{
	display: none;
}

#memeone_form_wrapper {
	display: block;
}

#memeone_loading_icon, #memeone_error_message_area, #memeone_generator_form {
	display: none;
}

#memeone_generator_form_displayed {
	display: block;
}

#memeone_loading_icon {
	max-width: 16px;
}

.memeone_meme {
	border-radius: 0px;
	border-style: none;
	width: inherit !important;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('fonts/FreeSerif.ttf');
}