table {
	width: 100%;	
	border-collapse:collapse;
}

table, th, td {
	border: solid 1px black;
}

tr {
	width: 100%;
}

td {
	width: auto;
	text-align: center;
}

.memeone_pagination {
	text-align: center;
	font: 18px;
	margin-top: 20px;
}

.memeone_admin_link {
	text-decoration: none;
}

.memeone_delete_meme_image {
	display:block;
	margin: 1px auto 0px auto;
}

.memeone_admin_error {
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
}

.memeone_delete_all {
	display:block;
	float:right;
	text-align:right;
	font-style: oblique;
	margin-right: 10px;
	text-decoration: none;
}

.memeone_meme_table_caption {
	font-size: 16px;
	font-weight: bold;
	display:block;
	float:left;
}
